html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
  /*padding-top: 50px;*/
  padding-bottom: 60px;
  background-color: #eee;
}
.navbar-fixed-top[id="header"]{
	height:150;
}
.navbar-default[id="navbarTop"]{
	background-color: #3E546A;
}

#navbarTop{
	height:100px;
	margin: -10px -10px -10px -10px; /*to hide edges*/
}
#ownerContainer{
	height:100%;
	width:100px;
	left:10px;
	position:absolute;
	display: none; /*no owner title for now, but maybe replace with username or logo later*/
}
#owner{
	display:block;
	margin:auto;
	font-size: 5em;
}
#logoDiv{
	height:100%;
	left:900px;
	position:absolute;
}
#stampLogo{
	display:block;
	position: absolute;
	top:50px;
	right: -300px;
	z-index: 100000;
	height:150px;
}
#whiteLogoDiv{
	height:100%;
	left:450px;
	position:absolute;
}
#whiteLogo{
	top:0px;
	position:relative;
	height:100%;
}
.navbar[id="stripnavbar"]{
	background-color: rgb(200, 210, 230);
	top:88px;
	position:absolute;
	width:100%;
	min-height:40px;
	height:40px;
	left:0px;
	z-index:-10000;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.43);
	-moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.43);
	box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.43);

}
.navbar-default{
	border-color:#3E546A;
}
.nav-pills > li.active > a {
    background-color:#3E546A;
}
.nav-pills > li.active > a:hover {
    background-color: #3E546A;
}
.nav-pills >li >a { 
	color: #3E546A; 
} 
li{
	border-radius: 4px;
}
/*.nav-pills > li.active > a {
    background-color:#5A9491;
	min-height: 30px;
	padding: 20px;
	color: white;
}
.nav-pills > li.active > a:hover {
    background-color: #504552;
	min-height: 30px;
	padding: 20px;
}
.nav-pills >li >a {  
	min-height: 30px;
	padding: 20px;
	color: #504552;
} */
li {
	border-radius: 4px;
}
#main{
	position:absolute;
	top:130px;
	padding-bottom:200px;
	margin-bottom: 100px;
}
/*.footer, .push {
    height: 155px;  .push must be the same height as .footer 
    background-color: #528B8B;
    margin-top: 20px
}*/
.pac-container{
	z-index:100000000;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

