.blog-post {
	padding: 20px;
	width: 75%;
	margin: auto;
	border: 1px solid gray;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: rgb(250, 250, 250);
	-webkit-box-shadow: 7px 7px 16px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 16px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 16px 0px rgba(50, 50, 50, 0.75);
}

.blog-post a {
	padding: 20px;
}

.blog-post a h2 {
	padding: 20px;
	background-color: #504552 !important;
	border-radius: 20px 0px;
	color: white;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.63);
-moz-box-shadow:    4px 4px 4px 0px rgba(50, 50, 50, 0.63);
box-shadow:         4px 4px 4px 0px rgba(50, 50, 50, 0.63);
}
.blog-post a:hover, .vlogpost a h2:hover {
	text-decoration: none;
}

.blog-post .row {
	
}

#myCarousel {

}

.page-header {
	padding: 30px;
	background-color: white;
	text-align: center;
	min-width: 110%;
	margin: auto;
	margin-left: -5%;
	padding-top: 50px !important;
}
#content {
	width: 110%;
}

#tripTitle {
	color: #504552;
	font-size: 70px !important;
}
#tripLocation {
	font-size: 14px;
	color: #5A9491;
}
#tripDescription {
padding: 30px;	
}
.page-header button {
	display: block;
	margin-left: 50px;
}